@section Styles{
  <link href="~/css/register.css" rel="stylesheet" >
}

@section Scripts{
  <script src="~/js/register.js"></script>
}

 
<h1>Register new car</h1>
<div id= "errorAlert" class="alert alert-danger hide">
  fix error(s) below to continue  
</div>
<div id= "savedAlert" class="alert alert-success hide">
  <h5>Car is saved!!</h5>
</div>
<div class="register-form"> 
  <div class="form-group row">
    <label class="col-3 col-form-label">Daily Price:</label>
    <div class="col-8">
    <input id="txtPrice" type="number" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Make:</label>
    <div class="col-8">
    <input id="txtMake" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Model:</label>
    <div class="col-8">
    <input id="txtModel" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Year:</label>
    <div class="col-8">
    <input id="txtYear" type="number" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Passengers:</label>
    <div class="col-8">
    <input id="txtPassengers" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Milage:</label>
    <div class="col-8">
    <input id="txtMilage" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Image URL:</label>
    <div class="col-8">
    <input id="txtImageUrl" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Hours Power:</label>
    <div class="col-8">
    <input id="txtHp" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Cylinders:</label>
    <div class="col-8">
    <input id="txtCyls" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Description:</label>
    <div class="col-8">
    <input id="txtDescription" type="text" class="form-control" >
    </div>
  </div>
  <div>
    <div class="register-btn">
      <button id="btnsave" type="button" class="btn btn-primary">Register</button>

    </div>
  </div>
 
</div>